--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
datasets
numpy
matplotlib
tqdm
transformers
sentencepiece
protobuf
nltk
tokenizers
onnx
onnxruntime
onnxruntime-gpu
torch-tensorrt
tensorrt
Pillow
numpy
matplotlib
opencv-python
tqdm
pycuda
psutil
tabulate
onnxconverter-common
ptflops
GPUtil